/*
COLOR PALETTE
  lightgreen: rgb(210, 239, 232); 
  green: rgb(95, 198, 173); 
  yellow: rgb(217, 255, 102);
  blue: rgb(52, 75, 201);
*/

/* CSS Reset */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* Utilities */
.container {
	margin: 0 auto;
	max-width: 540px;
}

/* Generiche  */
body {
	padding: 0.5rem;
	font-family: Inter, sans-serif;
	background-color: rgba(52, 16, 57, 0.927);
}

header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 1rem;
}

h1 {
	color: rgb(52, 16, 57);
	font-size: 20px;
}

/* Pannello */
.panel {
	padding: 16px;
	border-radius: 16px;
	background-color: rgb(255, 153, 168);
}

/* Elementi del modulo aggiungi attività */
.add-todo {
	display: flex;
	gap: 1rem;
	margin-top: 2rem;
}

input {
	font-size: 1.2rem;
	padding: 0.3rem;
	border-radius: 0.8rem;
	border: none;
	flex-grow: 1;
	background-color: rgb(254, 251, 185);
}

button {
	cursor: pointer;
	padding: 16px;
	border: none;
	border-radius: 16px;
	background-color: rgb(160, 9, 147);
}

/* Messaggio di lista vuota */

.empty-list-message {
	text-align: center;
	font-weight: bold;
	font-size: 18px;
}

.todo-item {
	display: flex;
	align-items: center;
	list-style-type: none;
	background-color: rgb(254, 251, 185);
	margin: 16px 0;
	border-radius: 16px;
}

.todo-text {
	padding: 16px;
}

.todo-check {
	cursor: pointer;
	padding: 1rem;
	border-radius: 1rem 0 0 1rem;
	background-color: rgb(217, 255, 102);
}
